<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<h2><%= @song.name %></h2>
<p>Artist: 
<% if !!@song.artist %>
<%# binding.pry %>
<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>
<% else %>
<%# binding.pry %>
<%= "none" %>
<% end %>
</p>
<p>Genres: </p>
<ol>
  <% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
</li>
<% end %>
</ol>